.footer-background{
  background-color:#004030;
  padding-top:20px;
  padding-bottom:20px;
  color:white;
}

.ui.borderless.topmenu.menu{
  box-shadow: none;
  border: none;
}

.grad-background {
  background: url('http://courses.ics.hawaii.edu/ics314f20/morea/ui-frameworks/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 800px;
  color: white;
}
